.ingredient{
    &__Group{
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        justify-content: center;
    }

    &__List {
        text-align: left;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__Qty{
        opacity: .3;
    }

    &__Image{
        height: 70px;
        border-radius: 50px;
        width: 70px;
        margin: 5px;
    }

    &__all{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // margin-left: 50vw;
        align-items: center;
        padding-bottom: 50px;
    }

    &__heroImage{
        height: 200px;
        width:200px;
        border-radius: 50%;
        position: relative;
        top: -20vh;
        border: black 2px solid;

    }
}

.emotions{
    display: flex;
    justify-content: space-between;
    width:150px;
    height: 150px;
}