.navBarR{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    padding: 5px;
    // background: rgb(236,241,244);
    margin-bottom: 20px;
}

.navIcon{
    height: 50px;
}

.logo{
    width: 200px;
}