.space-between {
  display: flex;
  justify-content: space-evenly;
}
.submit-btn {
  margin-top: 50px;
}

.traditional {
  display: none;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.container {
  background-image: url("../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

.form {
  padding-top: 150px;
}

.searchbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

.label{
  display: flex;
  margin-top: 20px;
  
}

.autocomplete{
  flex-basis: 50%;
}

.prefix{
  margin-right: 5px;
}
