.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    left: 0px;
    top: 15px;
    width: 100%;
    padding: 10px;
    height:100px;
}

.navIcon{
    height: 50px;
}

.logo{
    width: 200px;
}