
*{
  color: #2F404E;
  overflow: scroll;
  margin:0px;
  
}

.iconsForCat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.traditional {
  display: none;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .checked {
  display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}

.containerSP{
  // background-image: url("../../../assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top:90px;
  padding-left:10px;
  padding-right: 10px;
}

.form {
  padding-top: 100px;
}

.searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FDFFFC;
  width: 100%;
  border-radius: 20px;
  height: 50px;
  // padding-right:20px;
  padding-left:20px;
  margin-bottom: 40px;
}

.cat{
  display: flex;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 1.5em;
}

.autocomplete{
  flex-basis: 80%;
  // background-color: #FDFFFC;
  // border-top-left-radius: 10px;
  // border-bottom-left-radius: 10px;
  height:50px;
  border:none;
}
.autocomplete:focus{
  outline: none;
}

.prefix{
  margin-left: 5px;
  height:50px;
  align-items: center;
  display: flex;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  // padding-right: 20px;
  // background-color: blue;
  justify-content: center;
  width:50px;
  // color:#FDFFFC;
}

.icon{
  padding: 20px;
}

.category-group{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
}

.icon-box{
  width:1;
  height: 80px;
}

.btn{
  border: none;
    padding: 10px;
    background: none;
}

.img{
  height: 40px;
}

.fc{
  margin-bottom: 20px;
}