*{
    margin:0px;
    padding: 0px;
    list-style: none;
}

.produceClass{
    background-color: rgb(39, 135, 116);
    padding: 0px;
    // border-radius: 4px;
    color:#FDFFFC;
    // margin-bottom:10px;
    font-size: 20px;
    text-align: center;

}

.othersClass{
    background-color: rgb(150, 111, 18);
    padding: 0px;
    // border-radius: 4px;
    color:#FDFFFC;
    font-size: 20px;
}

.meatsClass{
    background-color: rgb(150, 111, 18);
    padding: 0px;
    // border-radius: 4px;
    color:#FDFFFC;
    font-size: 20px;
}

.dairyClass{
    background-color: rgb(150, 111, 18);
    padding: 0px;
    // border-radius: 4px;
    color:#FDFFFC;
    font-size: 20px;
}

.nutsClass{
    background-color: rgb(150, 111, 18);
    padding: 0px;
    // border-radius: 4px;
    color:#FDFFFC;
    font-size: 20px;
}

.shoppingCart{
    padding-top: 100px;
    height: 525px;
    overflow: scroll;
}

.label{
    display: flex;
    margin-top: 20px;
    padding-left:10px;
}

.purchased{
    opacity: 0.5;
    text-decoration: line-through;
}

.item_design{
    height: 60px;
    // margin-bottom: 10px;
    display: flex;
    align-items: center;
    // border-radius: 10px;
    padding: 10px;
}

.ingredient__Image{
    box-sizing: border-box;
    height: 70px;
    border-radius: 50px;
    width: 70px;
    margin: 5px;
}

ul{
    margin:0px;
}

.scContainer{
    padding-top: 100px;
}