*{
    margin:0px;
    padding: 0px;
    list-style: none;
}

.produceClass{
    background-color: green;
    margin:1px;
    padding: 0px;
    border-radius: 4px;
    color: white;

}

.dryGoodsClass{
    background-color: brown;
    margin:1px;
    padding: 0px;
    border-radius: 4px;
    color: white;
}

.shoppingCart{
    padding-top: 150px;
    height: 500px;
    overflow: scroll;
}

.label{
    display: flex;
    margin-top: 20px;
}

.purchased{
    opacity: 0.5;
    text-decoration: line-through;
}