*{
    margin:0px;
    padding: 0px;
    list-style: none;
}

.produceClass{
    background-color: green;
    margin:1px;
    padding: 0px;
    border-radius: 4px;
    color: white;

}

.dryGoodsClass{
    background-color: brown;
    margin:1px;
    padding: 0px;
    border-radius: 4px;
    color: white;
}

.royclass {
    background-color: blue;
}