.circle-dim{
    height: 500px;
    width: 100%;
    overflow: hidden;
    opacity: .2;
    position: fixed;
}

.recipe_add-to-shopping-cart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}