.recipe{
    &-image{
        height: 50px;
        width:50px;
        border-radius: 50%;
        position: relative;
        object-fit: cover;
        margin-right: 10px;
    }
    &-list{
        // height: 95vh;
        overflow: scroll;
    }
}   

.each-recipe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    background-color: #FDFFFC;

    &-details{
        display: flex;
        align-items: center;
        // flex-basis: 60%;
        justify-content: flex-start;
        font-size: 1.5em;
       
        text-decoration: none;
    }

    &-details:hover{
        text-decoration: none;
    }
}

.delete{

}

.trash{
    height: 30px;
    width: 30px;
}